<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    
    <add name="AdventureWorks2008R2Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Judy_pc;initial catalog=AdventureWorks2008R2;user id=sa; password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdventureWorks2008R2" connectionString="data source=Judy_pc;initial catalog=AdventureWorks2008R2;user id=sa; password=123456;" providerName="System.Data.SqlClient" />
    <add name="HanTingEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=judy_pc;initial catalog=HanTing;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name ="AW2008R2" connectionString="Data Source=(local);Database=AdventureWorks2008R2;uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>
    <add name ="HanTing" connectionString="Data Source=(local);Database=HanTing;uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>
    <add name="Sqlite" connectionString="Data Source=D:\ProCode\CableRouteModule\DB\testDb.db"
          providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>