@using Jordy.MvcExtense.KendoUI;
<input id="autoComplete" />
<div id="calendar"></div>
@section scripts
{
    @Html.UI().AutoComplete(a =>
    {
        a.Id = "autoComplete";
        a.DataSource = new List<string>() { "one", "two", "three" };
    })
    @Html.UI().Calendar(c =>
    {
        c.Id = "calendar";
        c.Depth = Jordy.MvcExtense.KendoUI.Settings.CalendarSettings.CalendarDepth.Year;
        c.Format = "yyyy-MM-dd";
        c.Min = new DateTime(2000, 10, 1);
        c.Culture = "zh-CHS";
        c.Value = new DateTime(2001, 11, 1);
    })
}
<div id="cadenlar"></div>
@*<script>
    $(function(){
        $('#autoComplete').kendoAutoComplete({
            dataSource: ["one", "two", "three"],
            enable: true,
            filter: 'startsWith',
            highlightFirst: true,
            ignoreCase: true,
            minLength: 1,
            placeholder: '12',
            suggest: false,
            
            });
    });
</script>*@